churchs-payroll-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "churchs-payroll-adf"
		},
		"LS_DataLake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_DataLake'"
		},
		"LS_Databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_Databricks'"
		},
		"LS_SQLDatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLDatabase'"
		},
		"LS_DataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://churchspayrollstorage.dfs.core.windows.net/"
		},
		"LS_Databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0423-213928-79g9i270"
		},
		"LS_KeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://churchs-payroll-kv.vault.azure.net/"
		},
		"LS_SQLDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "churchs-payroll-server.database.windows.net"
		},
		"LS_SQLDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "churchs-payroll-db"
		},
		"LS_SQLDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "payrolladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_DataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_DataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_DataLake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405616243706868.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Databricks_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_Databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQLDatabase_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLDatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_Focus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FocusPOS Input.xlsx",
						"folderPath": "focuspos",
						"fileSystem": "bronze"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_Synergy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SynergySuite Input.xlsx",
						"folderPath": "synergysuite ",
						"fileSystem": "bronze"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_MergedPayroll')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "merged_payroll.csv",
						"folderPath": "payroll",
						"fileSystem": "gold"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "Employee_name",
						"type": "String"
					},
					{
						"name": "StoreID",
						"type": "String"
					},
					{
						"name": "Week",
						"type": "String"
					},
					{
						"name": "E_Regular_hours",
						"type": "String"
					},
					{
						"name": "E_overtime_hours",
						"type": "String"
					},
					{
						"name": "E_PTO_Pay_Hours",
						"type": "String"
					},
					{
						"name": "E_Sick_Pay_Hours",
						"type": "String"
					},
					{
						"name": "E_Back_Pay_Hours",
						"type": "String"
					},
					{
						"name": "E_Back_Pay_Dollars",
						"type": "String"
					},
					{
						"name": "E_Tips_Dollars",
						"type": "String"
					},
					{
						"name": "week_end_date",
						"type": "String"
					},
					{
						"name": "Source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_TargetOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Gold layer dataset for\nfinal Target Output table.\nContains merged payroll data\nfrom SynergySuite and FocusPOS.\nDestination: dbo.target_output",
				"linkedServiceName": {
					"referenceName": "LS_SQLDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "varchar"
					},
					{
						"name": "Employee_name",
						"type": "varchar"
					},
					{
						"name": "StoreID",
						"type": "varchar"
					},
					{
						"name": "Week",
						"type": "int",
						"precision": 10
					},
					{
						"name": "E_Regular_hours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "E_overtime_hours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "E_PTO_Pay_Hours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "E_Sick_Pay_Hours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "E_Back_Pay_Hours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "E_Back_Pay_Dollars",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "E_Tips_Dollars",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "#week_end_date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "target_output"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Landing_Focus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FocusPOS Input.xlsx",
						"fileSystem": "landing"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Landing_Synergy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SynergySuite Input.xlsx",
						"fileSystem": "landing"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_TargetOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Employee_name",
						"type": "varchar"
					},
					{
						"name": "StoreID",
						"type": "varchar"
					},
					{
						"name": "Week",
						"type": "int",
						"precision": 10
					},
					{
						"name": "E_Regular_hours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "E_overtime_hours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "E_PTO_Pay_Hours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "E_Sick_Pay_Hours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "E_Back_Pay_Hours",
						"type": "float",
						"precision": 15
					},
					{
						"name": "E_Back_Pay_Dollars",
						"type": "float",
						"precision": 15
					},
					{
						"name": "E_Tips_Dollars",
						"type": "float",
						"precision": 15
					},
					{
						"name": "#week_end_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "target_output"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Churchs_Payroll_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "End to end payroll ETL\npipeline combining SynergySuite\nand FocusPOS data sources\ninto unified Target Output\nfollowing Medallion Architecture",
				"activities": [
					{
						"name": "Copy_Synergy_Landing_To_Bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Landing_Synergy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Bronze_Synergy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Focus_Landing_To_Bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Landing_Focus",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Bronze_Focus",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Run_Synergy_Bronze_Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy_Synergy_Landing_To_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/poreddya7259@uhcl.edu/synergysuite_bronze_silver"
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Run_Focus_Bronze_Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy_Focus_Landing_To_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/poreddya7259@uhcl.edu/focuspos_bronze_silver"
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Run_Silver_Merge",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Run_Synergy_Bronze_Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Run_Focus_Bronze_Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/poreddya7259@uhcl.edu/03_silver_merge"
						},
						"linkedServiceName": {
							"referenceName": "LS_Databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy_Gold_To_SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Run_Silver_Merge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.target_output",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "Employee_name",
											"type": "String"
										},
										"sink": {
											"name": "Employee_name",
											"type": "varchar"
										}
									},
									{
										"source": {
											"name": "StoreID",
											"type": "String"
										},
										"sink": {
											"name": "StoreID",
											"type": "varchar"
										}
									},
									{
										"source": {
											"name": "Week",
											"type": "String"
										},
										"sink": {
											"name": "Week",
											"type": "int",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "E_Regular_hours",
											"type": "String"
										},
										"sink": {
											"name": "E_Regular_hours",
											"type": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "E_overtime_hours",
											"type": "String"
										},
										"sink": {
											"name": "E_overtime_hours",
											"type": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "E_PTO_Pay_Hours",
											"type": "String"
										},
										"sink": {
											"name": "E_PTO_Pay_Hours",
											"type": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "E_Sick_Pay_Hours",
											"type": "String"
										},
										"sink": {
											"name": "E_Sick_Pay_Hours",
											"type": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "E_Back_Pay_Hours",
											"type": "String"
										},
										"sink": {
											"name": "E_Back_Pay_Hours",
											"type": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "E_Back_Pay_Dollars",
											"type": "String"
										},
										"sink": {
											"name": "E_Back_Pay_Dollars",
											"type": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "E_Tips_Dollars",
											"type": "String"
										},
										"sink": {
											"name": "E_Tips_Dollars",
											"type": "float",
											"precision": 15
										}
									},
									{
										"source": {
											"name": "week_end_date",
											"type": "String"
										},
										"sink": {
											"name": "#week_end_date",
											"type": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Gold_MergedPayroll",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_TargetOutput",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Landing_Synergy')]",
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_Synergy')]",
				"[concat(variables('factoryId'), '/datasets/DS_Landing_Focus')]",
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_Focus')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_MergedPayroll')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_TargetOutput')]"
			]
		}
	]
}